{% extends 'default.html.twig' %}

{% block content %}
    <table class="table">
        <thead>
            <tr>
                <th>Post ID</th>
                <th>Resume</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.post.id }}</td>
                <td>{{ comment.content }}</td>
                <td>{{ comment.user.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}