{% extends 'default.html.twig' %}

{% block content %}
        <h1>
            {% if number == 0 %}
                There is no apple.
            {% elseif number == 1 %}
                There is one apple.
            {% else %}
                There is a lot of apples.
            {% endif %}
        </h1>
{% endblock %}