<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            Symfony - {% block title %}No Title{% endblock %}
        </title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        {{ render_esi(controller('App\\Controller\\EsiController::navbar')) }}
        {% block content %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </body>
</html>