<nav>
    <ul>
        <li>
            <a href="{{ path('app_random_number', {'max': '100'}) }}">
                Random Number
            </a>
        </li>
        <li>
            <a href="{{ path('app_default_html') }}">HTML</a>
        </li>
    </ul>
</nav>